@page "/"

<!-- Image of SAIT campus (internally saved) -->
<img src="./saitlogo.png" alt="SAIT Logo" style="max-width: 30px; height: auto;">
<h1>Hello, SAIT students!</h1>

<p>Welcome to your new app. We are excited to have you here.</p>



